<div class="ExplorePremiumBrands">
    Latest Distributors Leads
</div>
<div class="container cta-100 ">
    <div class="container">
        <div class="row">
            <div class='col-12'>
                <ngb-carousel>
                    <ng-template ngbSlide>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="item-box-blog">
                                    
                                    <div class="item-box-blog-body">
                                        <!--Heading-->
                                        <div class="item-box-blog-heading">
                                            <a href="#" tabindex="0">
                                                <h5>News Title</h5>
                                            </a>
                                        </div>
                                        <!--Data-->
                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                            <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                Comments(3)</p>
                                        </div>
                                        <!--Text-->
                                        <div class="item-box-blog-text">
                                            <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing.
                                                Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor.</p>
                                        </div>
                                        <div class="mt"> <a href="#" tabindex="0"
                                                class="btn bg-blue-ui white read">View more</a> </div>
                                        <!--Read More Button-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-box-blog">
                                    
                                    <div class="item-box-blog-body">
                                        <!--Heading-->
                                        <div class="item-box-blog-heading">
                                            <a href="#" tabindex="0">
                                                <h5>News Title</h5>
                                            </a>
                                        </div>
                                        <!--Data-->
                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                            <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                Comments(3)</p>
                                        </div>
                                        <!--Text-->
                                        <div class="item-box-blog-text">
                                            <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing.
                                                Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor.</p>
                                        </div>
                                        <div class="mt"> <a href="#" tabindex="0"
                                                class="btn bg-blue-ui white read">View more</a> </div>
                                        <!--Read More Button-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-box-blog">
                                    
                                    <div class="item-box-blog-body">
                                        <!--Heading-->
                                        <div class="item-box-blog-heading">
                                            <a href="#" tabindex="0">
                                                <h5>News Title</h5>
                                            </a>
                                        </div>
                                        <!--Data-->
                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                            <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                Comments(3)</p>
                                        </div>
                                        <!--Text-->
                                        <div class="item-box-blog-text">
                                            <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing.
                                                Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor.</p>
                                        </div>
                                        <div class="mt"> <a href="#" tabindex="0"
                                                class="btn bg-blue-ui white read">View more</a> </div>
                                        <!--Read More Button-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-box-blog">
                                    
                                    <div class="item-box-blog-body">
                                        <!--Heading-->
                                        <div class="item-box-blog-heading">
                                            <a href="#" tabindex="0">
                                                <h5>News Title</h5>
                                            </a>
                                        </div>
                                        <!--Data-->
                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                            <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                Comments(3)</p>
                                        </div>
                                        <!--Text-->
                                        <div class="item-box-blog-text">
                                            <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing.
                                                Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor.</p>
                                        </div>
                                        <div class="mt"> <a href="#" tabindex="0"
                                                class="btn bg-blue-ui white read">View more</a> </div>
                                        <!--Read More Button-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="item-box-blog">
                                    
                                    <div class="item-box-blog-body">
                                        <!--Heading-->
                                        <div class="item-box-blog-heading">
                                            <a href="#" tabindex="0">
                                                <h5>News Title</h5>
                                            </a>
                                        </div>
                                        <!--Data-->
                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                            <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                Comments(3)</p>
                                        </div>
                                        <!--Text-->
                                        <div class="item-box-blog-text">
                                            <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing.
                                                Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor.</p>
                                        </div>
                                        <div class="mt"> <a href="#" tabindex="0"
                                                class="btn bg-blue-ui white read">View more</a> </div>
                                        <!--Read More Button-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-box-blog">
                                    
                                    <div class="item-box-blog-body">
                                        <!--Heading-->
                                        <div class="item-box-blog-heading">
                                            <a href="#" tabindex="0">
                                                <h5>News Title</h5>
                                            </a>
                                        </div>
                                        <!--Data-->
                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                            <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                Comments(3)</p>
                                        </div>
                                        <!--Text-->
                                        <div class="item-box-blog-text">
                                            <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing.
                                                Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor.</p>
                                        </div>
                                        <div class="mt"> <a href="#" tabindex="0"
                                                class="btn bg-blue-ui white read">View more</a> </div>
                                        <!--Read More Button-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-box-blog">
                                    
                                    <div class="item-box-blog-body">
                                        <!--Heading-->
                                        <div class="item-box-blog-heading">
                                            <a href="#" tabindex="0">
                                                <h5>News Title</h5>
                                            </a>
                                        </div>
                                        <!--Data-->
                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                            <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                Comments(3)</p>
                                        </div>
                                        <!--Text-->
                                        <div class="item-box-blog-text">
                                            <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing.
                                                Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor.</p>
                                        </div>
                                        <div class="mt"> <a href="#" tabindex="0"
                                                class="btn bg-blue-ui white read">View more</a> </div>
                                        <!--Read More Button-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-box-blog">
                                    
                                    <div class="item-box-blog-body">
                                        <!--Heading-->
                                        <div class="item-box-blog-heading">
                                            <a href="#" tabindex="0">
                                                <h5>News Title</h5>
                                            </a>
                                        </div>
                                        <!--Data-->
                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                            <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                Comments(3)</p>
                                        </div>
                                        <!--Text-->
                                        <div class="item-box-blog-text">
                                            <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing.
                                                Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor.</p>
                                        </div>
                                        <div class="mt"> <a href="#" tabindex="0"
                                                class="btn bg-blue-ui white read">View more</a> </div>
                                        <!--Read More Button-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="item-box-blog">
                                    
                                    <div class="item-box-blog-body">
                                        <!--Heading-->
                                        <div class="item-box-blog-heading">
                                            <a href="#" tabindex="0">
                                                <h5>News Title</h5>
                                            </a>
                                        </div>
                                        <!--Data-->
                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                            <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                Comments(3)</p>
                                        </div>
                                        <!--Text-->
                                        <div class="item-box-blog-text">
                                            <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing.
                                                Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor.</p>
                                        </div>
                                        <div class="mt"> <a href="#" tabindex="0"
                                                class="btn bg-blue-ui white read">View more</a> </div>
                                        <!--Read More Button-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-box-blog">
                                    
                                    <div class="item-box-blog-body">
                                        <!--Heading-->
                                        <div class="item-box-blog-heading">
                                            <a href="#" tabindex="0">
                                                <h5>News Title</h5>
                                            </a>
                                        </div>
                                        <!--Data-->
                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                            <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                Comments(3)</p>
                                        </div>
                                        <!--Text-->
                                        <div class="item-box-blog-text">
                                            <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing.
                                                Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor.</p>
                                        </div>
                                        <div class="mt"> <a href="#" tabindex="0"
                                                class="btn bg-blue-ui white read">View more</a> </div>
                                        <!--Read More Button-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-box-blog">
                                    
                                    <div class="item-box-blog-body">
                                        <!--Heading-->
                                        <div class="item-box-blog-heading">
                                            <a href="#" tabindex="0">
                                                <h5>News Title</h5>
                                            </a>
                                        </div>
                                        <!--Data-->
                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                            <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                Comments(3)</p>
                                        </div>
                                        <!--Text-->
                                        <div class="item-box-blog-text">
                                            <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing.
                                                Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor.</p>
                                        </div>
                                        <div class="mt"> <a href="#" tabindex="0"
                                                class="btn bg-blue-ui white read">View more</a> </div>
                                        <!--Read More Button-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-box-blog">
                                    
                                    <div class="item-box-blog-body">
                                        <!--Heading-->
                                        <div class="item-box-blog-heading">
                                            <a href="#" tabindex="0">
                                                <h5>News Title</h5>
                                            </a>
                                        </div>
                                        <!--Data-->
                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                            <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                Comments(3)</p>
                                        </div>
                                        <!--Text-->
                                        <div class="item-box-blog-text">
                                            <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing.
                                                Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing. Lorem ipsum dolor.</p>
                                        </div>
                                        <div class="mt"> <a href="#" tabindex="0"
                                                class="btn bg-blue-ui white read">View more</a> </div>
                                        <!--Read More Button-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</div>