<div class="ContainerPremiumBrands">
    <div class="ExplorePremiumBrands">
        Brands Associated With Us
    </div>
    <div class="row mrb10px">
        <div class="col-12">
            <div class="col-2 fl">
                <img class="img-thumbnail" height="300px" src="../../../assets/images/brands/Kafi.png" />
                <label class="alingCenter">
                    Kafi Cosmetics Pvt. Ltd.
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" height="300px" src="../../../assets/images/brands/ORGANIC GLOW.jpeg" />
                <label class="alingCenter">
                    Organic Glow & Co.
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" height="300px" src="../../../assets/images/brands/super-foods.jpg" />
                <label class="alingCenter">
                    Super Food Products
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" height="300px" src="../../../assets/images/brands/arogya-tea.png" />
                <label class="alingCenter">
                    Arogya Label Tea
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" height="300px" src="../../../assets/images/brands/Panchratan.png" />
                <label class="alingCenter">
                    Rashi Dudh Sagar Private Limited
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" height="300px" src="../../../assets/images/brands/RkUdyog.jpeg" />
                <label class="alingCenter">
                    R K Udyog
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="col-2 fl">
                <img class="img-thumbnail" height="300px" height="300px" src="../../../assets/images/brands/Lancer.jpeg" />
                <label class="alingCenter">
                    Lancer Foods
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" height="300px" src="../../../assets/images/brands/madhu.jpeg" />
                <label class="alingCenter">
                    Madhu Dravyam Honey
                </label>
            </div>
             <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/brands/MetroIndiaAssociates.jpeg" />
                <label class="alingCenter">
                    Metro India Associates
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/brands/TAPODHANI_FOOD.png" />
                <label class="alingCenter">
                    Tapodhani Food Products LLP
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/brands/futurefame.png" />
                <label class="alingCenter">
                    Fortufame Agro Pvt Ltd
                </label>
            </div>
            <!--<div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/coming-soon-brand.jpeg" />
                <label class="alingCenter">
                    Coming Soon
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/coming-soon-brand.jpeg" />
                <label class="alingCenter">
                    Coming Soon
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/coming-soon-brand.jpeg" />
                <label class="alingCenter">
                    Coming Soon
                </label>
            </div> -->
        </div>
    </div>
</div>