<div class="ContainerPremiumBrands">
    <div class="ExplorePremiumBrands">
        Brands Associated With Us
    </div>
    <div class="row mrb10px">
        <div class="col-12">
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/coming-soon-brand.jpeg" />
                <label class="alingCenter">
                    Coming Soon
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/coming-soon-brand.jpeg" />
                <label class="alingCenter">
                    Coming Soon
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/coming-soon-brand.jpeg" />
                <label class="alingCenter">
                    Coming Soon
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/coming-soon-brand.jpeg" />
                <label class="alingCenter">
                    Coming Soon
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/coming-soon-brand.jpeg" />
                <label class="alingCenter">
                    Coming Soon
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/coming-soon-brand.jpeg" />
                <label class="alingCenter">
                    Coming Soon
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/coming-soon-brand.jpeg" />
                <label class="alingCenter">
                    Coming Soon
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/coming-soon-brand.jpeg" />
                <label class="alingCenter">
                    Coming Soon
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/coming-soon-brand.jpeg" />
                <label class="alingCenter">
                    Coming Soon
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/coming-soon-brand.jpeg" />
                <label class="alingCenter">
                    Coming Soon
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/coming-soon-brand.jpeg" />
                <label class="alingCenter">
                    Coming Soon
                </label>
            </div>
            <div class="col-2 fl">
                <img class="img-thumbnail" src="../../../assets/images/coming-soon-brand.jpeg" />
                <label class="alingCenter">
                    Coming Soon
                </label>
            </div>
        </div>
    </div>
</div>