<div class="pull-left w-100 mb-4" style="border: 1px solid #ccc;height:420px;padding: 20px;">
  <div class="pull-left catagoryList">
    <h6>TRENDING CATEGORIES</h6>
    <ul>
      <li *ngFor="let catagory of catagories[0]">
        <a href="#">{{ catagory.name }}</a> <i class="pull-right arrow right"></i>
      </li>
      <li>
        <a href="#"> Transportation</a>
      </li>
      <li>
        <a href="#" style="color:darkblue !important;"> All Catagories</a>
      </li>
    </ul>
  </div>
  <div class="pull-left" style="width:765px;">
      <ngb-carousel>  
        <ng-template ngbSlide>  
            <img height="385px" src="../../../assets/images/banner1.jpeg" alt="Delhi Metro">                  
        </ng-template>  
        <ng-template ngbSlide>  
            <img height="385px" src="../../../assets/images/banner2.jpeg" alt="Bangalore Metro">                  
        </ng-template>  
        <ng-template ngbSlide>  
            <img height="385px" src="../../../assets/images/banner3.jpeg" alt="Channai Metro">                  
        </ng-template>              
    </ngb-carousel>        
  </div>
</div>
