<div class="pull-left w-100 backgroundClr">
  <nav>
    <ul class="pull-left">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" (click)="onNavBarClickEvent('home')">
          Welcome User
        </a>
      </li>
    </ul>
    <ul style="margin: auto;">
      <li>
        <a class="nav-link">Call us @: +91-9838953812</a> 
      </li>
      <li>
        <a class="nav-link">Email @: info@example.com</a> 
      </li>
    </ul>
    <ul class="pull-right">
      <li class="nav-item">
        <a class="nav-link" (click)="onNavBarClickEvent('distributorsleads')">Distributors Leads
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openDialog('requestcallback')">Request Callback
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openDialog('login')">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register" style="color: #4CAF50 !important; "> Join Free</a>
      </li>
    </ul>
  </nav>
</div>
<div class="pull-left w-100 mb-3" style="border-bottom: 1px solid #ccc;box-shadow: 0 8px 6px -6px #ccc;">
  <app-search></app-search>
</div>