<div class="pull-left w-100 p-4 mt-5 mb-5" style="border: 1px solid lightgrey;border-radius: 20px;">
  <div class="pull-left w-100">
    <div class="pull-left imgthumbnail p-1 mr-4" style="border: 1px solid lightgrey;width:270px;height: 220px;">
      <img style="width: 260px; height: 210px;" src="../../../assets/images/medical-supplies.jpg" />
    </div>
    <div class="pull-left pt-2">
      <h3 class="pull-left">
        Sample Store Pvt Ltd.
      </h3>
      <div style="clear: both;"></div>
      <div class="pull-left pt-2">
        <div class="pull-left distributordetails">
          Mode:
        </div>
        <div class="pull-left distributordetails">
          GST No.:
        </div>
        <div class="pull-left distributordetails">
          Brand:
        </div>
        <div style="clear: both;"></div>
        <div class="pull-left distributordetails">
          Space Required:
        </div>
        <div class="pull-left distributordetails">
          Investment Required :
        </div>
        <div class="pull-left distributordetails">
          Established:
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pull-left w-100 p-2 mb-5" style="border: 1px solid lightgrey;border-radius: 20px;">
  <div class="pull-left" style="margin-left: 100px;">
    <div class="pull-left ml-4 pr-4 seperator">
      <b><a>Company Profile</a></b>
    </div>
    <div class="pull-left ml-4 pr-4 seperator">
      <b><a>Our Product Range</a></b>
    </div>
    <div class="pull-left ml-4 pr-4 seperator">
      <b><a>Investment Required</a></b>
    </div>
    <div class="pull-left ml-4 pr-4 seperator">
      <b><a>Distributor benefits</a></b>
    </div>
    <div class="pull-left ml-4 pr-4">
      <b><a>Contact Us</a></b>
    </div>
  </div>
</div>

<div class="pull-left mb-5 w-100">
  <div class="row">
    <div id="LatestDistributorsLeads" class='col-12'>
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-3">
              <div class="item-box-blog">
                <div class="item-box-blog-body">
                  <div class="imageThumbnial">
                    <img width="248px" height="200px" src="../../../assets/images/Jellyfish.jpg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="item-box-blog">
                <div class="item-box-blog-body">
                  <div class="imageThumbnial">
                    <img width="248px" height="200px" src="../../../assets/images/Jellyfish.jpg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="item-box-blog">
                <div class="item-box-blog-body">
                  <div class="imageThumbnial">
                    <img width="248px" height="200px" src="../../../assets/images/Jellyfish.jpg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="item-box-blog">
                <div class="item-box-blog-body">
                  <div class="imageThumbnial">
                    <img width="248px" height="200px" src="../../../assets/images/Jellyfish.jpg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-3">
              <div class="item-box-blog">
                <div class="item-box-blog-body">
                  <div class="imageThumbnial">
                    <img width="248px" height="200px" src="../../../assets/images/Jellyfish.jpg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="item-box-blog">
                <div class="item-box-blog-body">
                  <div class="imageThumbnial">
                    <img width="248px" height="200px" src="../../../assets/images/Jellyfish.jpg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="item-box-blog">
                <div class="item-box-blog-body">
                  <div class="imageThumbnial">
                    <img width="248px" height="200px" src="../../../assets/images/Jellyfish.jpg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="item-box-blog">
                <div class="item-box-blog-body">
                  <div class="imageThumbnial">
                    <img width="248px" height="200px" src="../../../assets/images/Jellyfish.jpg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>

<div class="pull-left mb-5 w-100">
  <div class="card">
    <div class="card-header">
      Sample Company Profile
    </div>
    <div class="card-body">
      <p>
        Our story began in 1971. Back then we were a roaster and retailer of whole bean and ground coffee, tea and
        spices with a single store in Seattle's Pike Place Market.</p>
      <p>
        Today, we are privileged to connect with millions of customers every day with exceptional products and more than
        24,000 retail stores in 70 countries.</p>

      <b>Folklore</b>
      <p>Sample is named after the first mate in Herman Melville's Moby Dick. Our logo is also inspired by the sea -
        featuring a twin-tailed siren from Greek mythology.</p>

      <b>Sample Mission</b>
      <p>Our mission: to inspire and nurture the human spirit - one person, one cup and one neighborhood at a time.</p>

      <b>Our Coffee</b>
      <p>We've always believed in serving the best coffee possible. It's our goal for all of our coffee to be grown
        under the highest standards of quality, using ethical sourcing practices. Our coffee buyers personally travel to
        coffe Latin America, Africa and Asia to select high quality beans. And our master roasters bring out the balance
        and rich flavor of the beans through the signature Sample Roast.</p>
      <b>Our Stores</b>
      <p> Our stores are a neighborhood gathering place for meeting friends and family. Our customers enjoy quality
        service, an inviting atmosphere and an exceptional beverage.</p>

    </div>
  </div>

  <div class="pull-left mt-5 w-100">
    <div class="card">
      <div class="card-header">
        Our Product Range
      </div>
      <div class="card-body">
        Indian Raw Spices, Amchoor Powder, Garam Masala Powder, Coriander Powder, Red Chilli Powder, Turmeric Powder,
        Indian Masala Powder
      </div>
    </div>
  </div>

  <div class="pull-left mt-5 w-100">
    <div class="card">
      <div class="card-header">
        Investment Required
      </div>
      <div class="card-body">
        <b>The offer to target customers</b>
        <p>
          What does your product and/or service do? What benefits make your offer unique, or just different? What will
          motivate customers to switch to your product and/or service? How would you describe a typical customer for
          your product and/or service? How would you describe a group(s) of target customers?</p>

        <b>The market potential</b>
        <p>What is the market potential for your product and/or service? Is the market growing, staying the same, or
          declining? How many competitors are there? How will you compete (e.g. faster service, more convenient etc.)?
          What sales can you realistically achieve in the first 6 months? First year?
        </p>

        <b>Reaching target customers</b>
        <p>Which route(s) to access your target customers will you use e.g. website, shop etc. What promotional methods
          will you use (e.g. email, social media, advertising etc.)?</p>

      </div>
    </div>
  </div>

  <div class="pull-left mt-5 w-100">
    <div class="card">
      <div class="card-header">
        Distributors Benefits
      </div>
      <div class="card-body">
        <b>Benefits of being our distributor:</b>
        <p>- Periodic discounts and offers on achieving pre-set targets</p>
        <p>- The assistance of our administration team in case of any quer</p>
        <p>- Complete promotional guidance for products</p>
      </div>
    </div>
  </div>

  <div class="pull-left mt-5 w-100">
    <div class="card">
      <div class="card-header">
        Products USP’s
      </div>
      <div class="card-body">
        <b>Company USPs:</b>
        <p>- In-depth industry knowledge</p>
        <p>- Enormous production capacity</p>
        <p>- Assurance of timely delivery</p>
      </div>
    </div>
  </div>

  <div class="pull-left mt-5 w-100">
    <div class="card">
      <div class="card-header">
        Contact Details
      </div>
      <div class="card-body">
        <table border="1" cellpadding="3px"  class="w-100" style="border-collapse: collapse;border-color: lightgray;">
          <tr>
            <td><b>Name</b></td>
            <td>Test Name</td>
          </tr>
          <tr>
            <td><b>Company Name</b></td>
            <td>Test Company Name</td>
          </tr>
          <tr>
            <td><b>Address</b></td>
            <td>Test Address</td>
          </tr>
          <tr>
            <td><b>City</b></td>
            <td>Test City</td>
          </tr>
          <tr>
            <td><b>State</b></td>
            <td>Test State</td>
          </tr>
          <tr>
            <td><b>Zip Code</b></td>
            <td>Test Zip Code</td>
          </tr>

          <tr>
            <td><b>Country</b></td>
            <td>Test Country</td>
          </tr>

          <tr>
            <td><b>Phone</b></td>
            <td>Test Phone</td>
          </tr>
          <tr>
            <td><b>Mobile</b></td>
            <td>0000000000</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>