<div class="ContainerPremiumBrands">
    <div class="ExplorePremiumBrands">
        Categories
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-2 imageFrame">
                <img width="150px" class="rounded-circle" height="150px"
                    src="../../../assets/images/medical-supplies.jpg" />
                <label class="alingCenter">
                    Hospital and Medical Supplies
                </label>
            </div>
            <div class="col-2 imageFrame">
                <img width="150px" class="rounded-circle" src="../../../assets/images/pharmaceutical.jpg" />
                <label class="alingCenter">
                    Pharmaceuticals
                </label>
            </div>
            <div class="col-2 imageFrame">
                <img width="150px" class="rounded-circle" src="../../../assets/images/chemicals.jpg" />
                <label class="alingCenter">
                    Chemicals
                </label>
            </div>
            <div class="col-2 imageFrame">
                <img width="150px" class="rounded-circle" src="../../../assets/images/lab-instruments.jpg" />
                <label class="alingCenter">
                    Scientific and Laboratory Instruments 
                </label>
            </div>
            <div class="col-2 imageFrame">
                <img width="150px" class="rounded-circle" src="../../../assets/images/agriculture.jpg" />
                <label class="alingCenter">
                    Agriculture
                </label>
            </div>
            <div class="col-2 imageFrame">
                <img width="150px" class="rounded-circle" height="150px"
                    src="../../../assets/images/medical-supplies.jpg" />
                <label class="alingCenter">
                    Hospital and Medical Supplies
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-2 imageFrame">
                <img width="150px" class="rounded-circle" height="150px"
                    src="../../../assets/images/medical-supplies.jpg" />
                <label class="alingCenter">
                    Hospital and Medical Supplies
                </label>
            </div>
            <div class="col-2 imageFrame">
                <img width="150px" class="rounded-circle" src="../../../assets/images/pharmaceutical.jpg" />
                <label class="alingCenter">
                    Pharmaceuticals
                </label>
            </div>
            <div class="col-2 imageFrame">
                <img width="150px" class="rounded-circle" src="../../../assets/images/chemicals.jpg" />
                <label class="alingCenter">
                    Chemicals
                </label>
            </div>
            <div class="col-2 imageFrame">
                <img width="150px" class="rounded-circle" src="../../../assets/images/lab-instruments.jpg" />
                <label class="alingCenter">
                    Scientific and Laboratory Instruments 
                </label>
            </div>
            <div class="col-2 imageFrame">
                <img width="150px" class="rounded-circle" src="../../../assets/images/agriculture.jpg" />
                <label class="alingCenter">
                    Agriculture
                </label>
            </div>
            <div class="col-2 imageFrame">
                <img width="150px" class="rounded-circle" src="../../../assets/images/all-cat.png" />
                <label class="alingCenter">
                    View All Categories
                </label>
            </div>
        </div>
    </div>
</div>