<app-navigationbar (toggleSearchBar)=NavigationBarItemClicked($event)></app-navigationbar>
<div class="centered" style="font-size: xx-large;" style="color:rgb(240, 239, 245);">
  <b>Search Distributors</b>
</div>
<div class="container">
  <app-search *ngIf="flagToggleSearchBar && !flagDistributorLeads"></app-search>
  
  <app-searchbar-distributor-leads *ngIf="flagDistributorLeads && flagToggleSearchBar" (toggleSearchBar) = "displayRouterOutlet($event)"></app-searchbar-distributor-leads>

  <router-outlet *ngIf="navigationItemName !== 'distributorsleads'"></router-outlet>
  <br />
</div>
<div class="pull-left w-100 footer">
  <app-footer></app-footer>
</div>
<div class="bottom-fixed blink_me">
  <a class="nav-link" (click)="openDialog('postrequirements')">Post Your Requirement</a>
</div>