.bottom-fixed a {
    color: green !important;
    font-weight: bolder;
    font-style: italic;
    cursor: pointer;
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
    width: auto; 
    height: auto; 
    z-index: 999999;
}
.blink_me {
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }