<app-navigationbar (toggleSearchBar)=NavigationBarItemClicked($event)></app-navigationbar>
<div class="container">  
  
  <app-searchbar-distributor-leads *ngIf="flagDistributorLeads && flagToggleSearchBar" (toggleSearchBar) = "displayRouterOutlet($event)"></app-searchbar-distributor-leads>

  <router-outlet *ngIf="navigationItemName !== 'distributorsleads'"></router-outlet>
  <br />
</div>
<div class="pull-left w-100 footer">
  <app-footer></app-footer>
</div>
<div class="bottom-fixed blink_me">
  <a class="nav-link" (click)="openDialog('postrequirements')">Post Your Requirement</a>
</div>