/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.cdk-overlay-container {
    position: fixed;
    z-index: 2000;
    top: 15%;
    left: 25%;       
}